@media all and (min-width:1024px)
{


    html
    {
       font-size: 15px;
    }
    body
    {
       font-family: 'Raleway', 'sans-serif';
       margin: 0 auto;
       width: 1024px;
    }
    article, nav, .header, .principal
    {
       margin-left: 20px;
       margin-right: 20px;
    }
 /* ---------------testa  ---------------- */
    .logo
    {
    width: 10%;
    margin-top: 10px;
    }
    .menuH, .inscription
    {
       display: flex;
       float: right;
    }
    .menuH
     {
        display:flex;
        justify-content: space-between;
        padding-right: 20px;
     }
    .inscription
    {
        color: #0065FC; 
        padding-top: 25px;
    }

     .heber
    { 
      color:#0065FC;
      border-top: 2px solid #0065FC;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 22px;
      
    }
    .activ
    {
        color: grey; 
        padding-left: 20px;  
        padding-top: 25px;
    }
    /* ----------------- */
    .recherche
    {
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        width: 334px;
        max-height: 43px;
        display: flex;
        flex-direction: row;
    }

    .place
    {
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 10px 0px 0px 10px;
        font-size: 12px;
        padding:15px;
    }
    button 
    {
       background-color: #0065FC;
       color: white;
       padding: 10px;
       border: 1px solid #0065FC;
       border-radius: 0px 10px 10px 0px ;
       width: 145px;
       min-height: 44px;
       cursor: pointer;
    } 
     /* ---------------4--FILTRES ---------------- */
    input  
    {
        border: none;
    }
    .loupe
    {
        display: none!important ;
    }
    .menu2, .filtres
    {
       display: flex; 
    }
    .h4f
    {
        padding-top: 25px;
        padding-right: 20px;
    }
    .filtres
    {
       padding-top: 20px;

    }
    .choix1, .choix2, .choix3, .choix4
    {
        border: 2px solid #DEEBFF;
        border-radius: 30px;
        padding: 15px;
        margin: 8px;
        padding-left: 0px; 
    }
    .choix1 a:hover, .choix2 a:hover, .choix3 a:hover, .choix4 a:hover
    {
        color: #0065FC;
    }
    .icons1, .icons2, .icons3, .icons4
    {
        border: 1px solid #DEEBFF;
        border-radius:30px;
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 15px;
    }
    .icons2
    {
        padding-right: 20px;
    }
    .icons3
    {
        padding-right: 18px;
    }
    .txteco, .txtfam, .txtrom, .txtani
    {
        padding-left: 5px;
    }
    #info, .dispo
    {
       display: inline-flex;
    }
    #info
    {
       border: 1px solid grey;
       border-radius: 30px;
       padding: 5px 8px 5px 8px;
       font-size: 10px;
       color: #0065FC;
       margin-left:20px ; 
    }
    .dispo
    {
       margin-left: 7px;
       margin-top: 20px;
       width: 80%;
    }
 /* ------------------------ */
    .hebergement, footer, aside
    {
    background-color:#F2F2F2; 
    }
    ul
    {
    list-style-type: none;
    }
    a
    {
    text-decoration: none;
    color: black;
    }
/* ------------hebergement a 13 dx ---------------- */
    .stelle
    {
        color: #0065FC;
        font-size: 8px;
        letter-spacing: -2px;  
    }
    .stelleg
    {
        color: #f3f3f3;
        font-size: 8px;
        letter-spacing: -2px;
    }
    .hebergement
    {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 600px;
    max-height: 510px;
    margin-left: 23px;
    }
    .Cannebiere, .port, .mouettes, .mer, .panier, .amina 
    {
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
    min-width: 160px;
    height: 140px;
    }
    .imagh
    {
    object-fit: cover;
    min-width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    }
    .txt
    {
    padding-left: 10px;
    min-width: 160px;
    max-height: 45px;
    font-size: 12px;
    line-height: 4px;
    }
    .hebe, .afficher
    {
        padding-left: 10px;
        font-size: 14px;
    }
    .ligne1, .ligne2
    {
        display: inline-flex;
    }
          
/*-------------aside popolaire sx ---------------- */
   .container
   {
       display: flex;
       width: 100%;   
       margin-bottom: 40px;
   }
    aside, .hebergement
    {
        display: flex;
        flex-wrap: wrap;
    }

  aside
  {
    max-height: 510px; 
    max-width: 310px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px; 
  }

  .matin, .coeureau, .blue
  {
     width: 100%;
     height: 90px;
     background-color:white;
     border: 4px solid white;
     border-radius: 10px;
     margin: 10px;
     display:flex;
     flex-direction: column;
  }
  .imgp
  {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 10px 0px 0px 10px;
  }
  .txtp
  {
      width: 180px;
      max-height:90px;
      float: right;
      font-size: 12px;
  }
  #ss
  {
      padding-left: 140px;
      font-size: 14px;
  }
  .pop
    {
      padding-left: 5px;
      font-size: 14px;
    }
 /* ---------------Activites sotto---------------- */
   .h2a
    {
       margin-left: 15px;
       margin-bottom: 5px;
       margin-top: 20px;
       font-size: 14px;
    }

   .vieux-port,.calanque,.fort,.parc,.iles,.notres-dame
    {
       border-radius: 30px;
       box-shadow: 2px 2px 2px 2px whitesmoke;
       margin: 15px;
       display: flex;
    }
    .iles, .parc
    {
        margin-bottom: 0 ;
        margin-top:30px; ;
    }

    .imaga
    {
      width: 225px;
      height: 290px;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
   .imagb
    {
      width: 225px;
      height: 130px;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
   .imagc
    {
      width: 225px;
      height: 90px;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
    .nome
    {
      padding-left: 20px;
      font-size: 11px;
    
    }
    .lesactivites
    {
        display: flex;
        margin-bottom: 20px;
    }  
/* ---------------footer---------------- */
    footer
    {
       display: flex;
       padding-top: 20px;
       padding-bottom: 20px;
       font-size: 12px;
       width: 100%;
    }
    .footer1
    {
        padding-left: 30px;
        padding-right: 130px;
    }
    .footer2
    {
        padding-right: 160px;   
    }
  
}



/* -----------STAAAARTTTT MOBILE------------------------------------------------------------------------- */

@media screen and (max-width: 1023px)
{

html
 {
    font-size: 1em;
    display: flex;
 }
body
{
    font-family: 'Raleway', 'sans-serif';
    margin: 0% auto ; 
    width: 100%;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: black;
}

/* HEADER mobile */

.logo
{
    min-height: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

.inscription
{
    text-align: right;
    vertical-align: top;
    float: right;
    color: #0065FC;
    margin-top: 9%;
    margin-right: 5%;
    font-size: 1.1em;
}
/*----------recherche--smallscreen---------- */
.menuH
{
    margin-top: 5%;
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.heber 
{
    color: #0065FC;
    border-bottom: solid 3px #0065FC;
    padding-bottom: 3%;
    min-width: 50%;

}
.activ
{
    border-bottom: solid 3px #f2f2f2;
    padding-bottom: 3%;
    min-width: 50%;
}
.principal
{
    margin-right: 2%;
    margin-left: 5%;
    font-size: 1.5em;
}
.nature
{
    font-size: 0.7em;
    margin-right: 2%;
    margin-left: 1%;
}
.reve
{
    font-size: 1em;
}
.recherche
{ 
    border-radius: 20px;
    border: 20px #F2F2F2;
    border-left-style: none;
    text-align: center;
    display: flex;
}
.search
{
    font-size: 0.8em;
    padding-left: 5%;
}
button
{
    display: none;
}
.place
{
    border-radius: 15px 0px 0px 15px;
    border: 12px solid #F2F2F2;
    font-size: 0.8em;
    background-color: #F2F2F2;
    color: black;
}
.loupe 
{
    border-radius: 15px;
    border: 5px solid #0065FC;
    font-size: 0.8em;
    background-color: #0065FC;
    color: white;
    margin-left: -30px;
    padding: 7px;
}
h4 
{
    margin-bottom: 1%;
    margin-left: 5%;
}
 /*----------filtres sceensmall---------- */
 .menu2
 {
    margin-right: 3%;
    margin-left: 3%;
}
.filtres
{
    display: flex;
    flex-wrap: wrap;
}

.icons1 
{
    border-radius: 70px;
    padding:17px;
    background-color: #DEEBFF; 
    color: #0065FC;
}

.icons4
{
    border-radius: 70px;
    padding:17px;
    background-color: #DEEBFF; 
    color: #0065FC;
}


.icons2  
{
    border-radius: 40px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #DEEBFF; 
    color:#0065FC ;
}
.icons3
{
    border-radius: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #DEEBFF; 
    color:#0065FC ;
}
/*------------------- */

.choix1 
{
    border-radius: 100px;
    border: 2px solid #f2f2f2;
    border-left-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 8px;
 }
.choix2
{
    border-radius: 100px;
    border: 2px solid #f2f2f2;
    border-left-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 8px;
}   
.choix3
{
    border-radius: 100px;
    border: 2px solid #f2f2f2;
    border-left-style: none;
    padding-top: 15px;
    padding-bottom:15px;
    margin: 8px;
}
.choix4
{

    border-radius: 100px;
    border: 2px solid #f2f2f2;
    border-left-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 8px;
}
.txteco,.txtfam,.txtani,.txtrom
{
    padding-left: 5px;
    padding-right: 10px;
}
#info
{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid grey ;
    color: #0065FC;
    font-size: 0.8em;
    float: left;
}



/*----------hebergemnt screensmall---------- */
.stelle
{
    color: #0065FC;
    letter-spacing: -2px; 
    font-size: 0.8em;
}
.stelleg
{
    color: #f3f3f3;
    letter-spacing: -2px; 
    font-size: 0.8em;
}

.hebe
{
    padding-left: 15px;
    font-size:1.4em;
}
.hebergement
{

    width: 90%;
    max-height: 40%;
    background-color: white;
    align-items: center;
    margin-left: 2%;
}
.Cannebiere, .port, .mouettes, .mer, .panier, .amina 
{
    width: 100%;
    height: 200px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #f2f2f2; 
}

.imagh
{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
}

.txt
{
    background-color: white;
    padding-left: 3%;
    width:85%;
    height: 40px;
    line-height: 5px;   
}
.afficher
{
    padding-left: 5% ;
    font-size: 1.2em;
}
.ligne1, .ligne2 
{
    display: flex;
    flex-direction: column;
}
.container
{
    display: flex;
    flex-direction: column-reverse;
}
/*----------aside screensmal---------- */
aside 
{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    background-color:#F2F2F2; 
    width: 100%;
}
#ss
{
    float: right ;
    padding-right:40px ;
    padding-top: 10px;
}
.pop
{
    padding-left: 5%;
    padding-top: 10px;
    font-size: 1.4em;
}

.matin, .coeureau, .blue 
{
    width: 90%;
    height: 150px;
    background-color: #F2F2F2;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
}
.imgp
{
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover ;
}
.nomslogement
{
    font-size: 1em;
    padding-left: 15px;
    padding-right: 30px;
}
.txtp 
{
    background-color: white;
    float: right;
    width: 60%;
    height: 100%;
}
.lestelle
{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1em;
}




/*----------ACTIVITÉS-------------------- */
.vieux-port, .fort, .iles, .calanque, .notres-dame, .parc
{
    width: 90%;
    height: 160px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px #f2f2f2;
    margin: 5%; 
}
.imaga, .imagb, .imagc
{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 20px 20px 0px 0px;
}
.nome 
{
    margin: 2%;
    padding:8px ;
}
.h2a
{
   padding-left: 5%; 
   font-size: 1.4em;
}
/*----------footer screensmall---------- */
footer 
{
    display: flex;
    flex-direction: column;
    align-self: auto;
    padding-left: 10%;
    padding-bottom: 5%;
    background-color:#F2F2F2; 
}

}